* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(230, 22%, 22%);
  font-family: 'Montserrat';
}

h1 {
  font-size: 5rem;
  text-align: center;
  margin-top: 8rem;
  color: hsl(0, 0%, 90%);
}
